---
title: Projects
eleventyExcludeFromCollections: true
---
<p>
  This is a list of SaaS products that I have built and either fully own, or
  co-own to some degree.
</p>

<ul>
  {% for project in projects %}
    <li class="">
      <a
        class="no-underline group block bg-white p-4 my-4 rounded hover:shadow hover:scale-105 duration-200"
        href="{{project.link}}"
        target="_blank"
      >
        <div class="md:flex flex-row gap-2 prose items-center">
          <div class="flex justify-start gap-3 items-center pb-4">
            <img
              src="{{project.logo}}"
              class="w-8 h-8 m-0 group-hover:rotate-12 duration-200"
            >
            <h3 class="m-0">{{ project.name }}</h3>
          </div>
          <div class="grow flex md:justify-end gap-2 items-center text-sm pb-4">
            <span
              class="
                whitespace-nowrap px-2 rounded bg-zinc-200
                {% if project.status == "Archived" %}opacity-45
                {% endif %}
              "
            >
              {{- project.turnover -}}
            </span>
            <span
              class="
                whitespace-nowrap px-2 rounded
                {% if project.status == "Active" %}bg-green-200
                {% elsif project.status == "Building" %}bg-sky-200
                {% else %}bg-zinc-300
                {% endif %}
              "
            >
              {{- project.status -}}
            </span>
          </div>
        </div>
        <p class="text-base-content/80 text-sm lg:text-base pb-0 text-zinc-800">
          {{ project.description }}
        </p>
      </a>
    </li>
  {% endfor %}
</ul>
